body{
    background-color: rgb(27, 25, 25);
    background-size: cover;
    margin: 0;
    padding: 0;
}
.title-slide{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 48px;
    color: white;
}
.container{
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
}
.scroll-p{
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 24px;
    bottom: 2%;
    right: 2%;
    color: white;
}
.picture{
    height: 500px;
    border-radius: 10%;
    margin-left: 2%;
}
.col-flex{
    display: flex;
    flex-direction: horizontal;
    align-items:flex-start;
    justify-content:flex-start;
    width: 80%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 24px;
}

.description{
    width: 75%;
    margin-left: 5%;
    color: white;
    flex: auto;
}

.slide {
    scroll-snap-align: start;
    min-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back-p{
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 16px;
    top: 2%;
    left: 2%;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}